@model List<Accounts.Core.Models.ListItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("Add User", "Add", "User")

<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr><td>@item.Text</td><td>@Html.ActionLink("View Payment Summary", "Index", "Payments", new { @id = item.Value }, null)</td></tr>
    }
</table>