<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>My Account</title>
    <link rel="stylesheet" href="/Content/style.min.css"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("My Account", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>*@

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Account</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/knockout-model.js"></script>
</body>
</html>
