<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="alert alert-success" role="alert" style="display: none;">
            <button type="button" class="close" aria-label="Close"></button>
            <strong>Payment successfully added!</strong> Please look at the table below.
        </div>

    </div>
    <div class="panel-group col-xs-12 col-sm-8" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="addPaymentLink">
                        Add Payment
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Title</label>
                            <div class="col-xs-10">
                                <input type="text" id="title" data-bind="value: Title" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="Amount">Monthly Amount</label>
                            <div class="col-xs-10">
                                <input type="number" min="10.00" max="100000.00" class="form-control" id="Amount" data-bind="value: AmountToAdd" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="date">Date</label>
                            <div class="col-xs-10">
                                <input type="date" class="form-control" id="date" data-bind="value: Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paidYearly" class="col-xs-2 col-sm-2 control-label">Paid Yearly?</label>
                            <div class="col-xs-10 col-sm-10">
                                <div class="checkbox">
                                    <input type="checkbox" id="paidYearly" data-bind="checked: PaidYearly">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="paidYearly" class="col-xs-2 col-sm-2 control-label">Recurring Payment?</label>
                            <div class="col-xs-10 col-sm-10">
                                <div class="checkbox">
                                    <input type="checkbox" id="recurring" data-bind="checked: Recurring">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-xs-10">
                                <button type="submit" class="btn btn-primary" data-bind="click: AddPayment">Add Payment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-4"></div>
</div>